@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blackColor: #543324;
  --whiteColor: #FEFEFE;
  --primaryColor: #EBAF58;
  --secondaryColor: #99532D;
  --bgColor: #EDD3BA;
}

body {
  /* background-image: radial-gradient(circle, rgb(231, 38, 212) , rgb(21, 60, 145) ); */
}
/* #mainTitleContainer{
  background-image: url("assets/img/flower-bg.jpg");
} */

@layer base {
  * {
    font-family: "Pixelify Sans", sans-serif;
  }
}



