@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tertiaryColor: #1F0822;
  --whiteColor: #ECCAD9;
  --primaryColor: #E77664;
  --secondaryColor: #F9CE75;
  --plum: #814881;
  --deepMauve: #D180C8;
  --linearGradient: #65174B, #E7CA26, #9355A8;
}

body {
  background-image: radial-gradient(circle, rgb(231, 38, 212) 0%, rgb(21, 60, 145) 100%);
}

@layer base {
  * {
    font-family: "Outfit", sans-serif;
  }
}



